/* src/components/Navbar.css */

.navbar {
  background-color: #1a1943;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  width: 100%;
}


.logo-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  
 
}

.navbar-logo img {
  height: 55px; /* Adjust the height of the logo */
  width: auto;
  margin-right: 20px; /* Space between logo and navbar links */
}

.navbar-links {
  list-style-type: none;
  display: flex; /* Makes the items appear inline */
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.navbar-links li {
  margin: 0 25px;
  
}

.navbar-links a {
  color: rgb(243, 241, 241);
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #f39c12; /* Change to any highlight color */
}

/* Styling for the buttons */
.navbar-buttons {
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right corner */
  margin-left: 500px; /* Ensures that buttons stay on the right side */
}

.navbar-btn {
  background-color: #458bcc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 5px; /* Adds space between the buttons */
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  
}

.navbar-btn:hover {
  background-color: #45a049; /* Darker shade of green for hover */
}

.navbar-btn:focus {
  outline: none; /* Removes focus outline for better UI */
}

.signup-btn {
  background-color: #1054d1;
   /* Blue color for the Sign Up button */
}

.signup-btn:hover {
  background-color: #326094; /* Darker blue for hover effect */
}

.logout-btn {
  background-color: #1054d1;
   /* Red color for the Log Out button */
}

.logout-btn:hover {
  background-color: #326094; /* Darker red for hover effect */
}
